<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="#{all-books-page}">List of all books</title>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
    </head>
    <body>
        <h3 th:text="#{book-table-header}">Books:</h3>
        <table class="element">
            <thead>
                <tr>
                    <th th:text="#{book-field-id}">ID</th>
                    <th th:text="#{book-field-title}">Title</th>
                    <th th:text="#{book-field-author}">Author</th>
                    <th th:text="#{book-field-genre}">Genre</th>
                    <th th:text="#{comment-field-header}" colspan="2">Comments</th>
                    <th th:text="#{table-column-action}" th:if="${role == 'ADMIN'}">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${books}" th:object="${book}">
                    <td th:text="*{id}">1</td>
                    <td th:text="*{title}">1984</td>
                    <td th:text="*{author.fullName}">George Orwell</td>
                    <td th:text="*{genre.name}">Dystopian novel</td>
                    <td>
                        <a href="allCommentsByBook.html" th:href="@{/comment(bookId=*{id})}" th:text="#{comment-button-caption}">Get comments</a>
                    </td>
                    <td>
                        <a href="addComment.html" th:href="@{/comment/new(bookId=*{id})}" th:text="#{add-button-caption}">Add</a>
                    </td>
                    <td th:if="${role == 'ADMIN'}">
                        <a href="singleBook.html" th:href="@{/book/__*{id}__}" th:text="#{edit-button-caption}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <p/>
        <div>
            <a href="addBook.html" th:href="@{/book/new}" th:text="#{add-button-caption}">Add</a>
        </div>
        <p/>
        <div>
            <a href="start.html" th:href="@{/main}" th:text="#{main-page-button-caption}">Main page</a>
        </div>
    </body>
</html>
