<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title th:text="#{all-authors-page}">List of all authors</title>
        <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
    </head>
    <body>
        <h3 th:text="#{author-table-header}">Authors:</h3>
        <table class="element">
            <thead>
                <tr>
                    <th th:text="#{author-field-id}">ID</th>
                    <th th:text="#{author-field-fullName}">Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="author : ${authors}" th:object="${author}">
                    <td th:text="*{id}">1</td>
                    <td th:text="*{fullName}">George Orwell</td>
                </tr>
            </tbody>
        </table>
        <p/>
        <div>
            <a href="start.html" th:href="@{/main}" th:text="#{main-page-button-caption}">Main page</a>
        </div>
    </body>
</html>
