<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{all-carts-by-status-page-title}">List of all carts by status</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
    <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
</head>
<body th:attr="onload='showAllCartsByStatus(' + ${statusId} +')'">
    <h3 th:text="#{all-carts-table-header}">Carts</h3>

    <table class="element">
        <thead>
            <tr>
                <th th:text="#{cart-field-id}" th:title="#{cart-field-id-title}">ID</th>
                <th th:text="#{cart-field-status-id}" th:title="#{cart-field-status-id-title}">Status ID</th>
                <th th:text="#{user-field-id}" th:title="#{user-field-id-title}">User ID</th>
                <th th:text="#{user-field-login}">login</th>
                <th th:text="#{user-field-username}">name</th>
                <th th:text="#{user-field-district}" th:title="#{user-field-district-title}">district</th>
                <th th:text="#{user-field-home}" th:title="#{user-field-home-title}">home</th>
                <th th:text="#{user-field-flat}">flat</th>
            </tr>
        </thead>
        <tbody id="cart-table">
        </tbody>
    </table>
    <p/>
    <div>
        <a href="start.html" th:href="@{/main}" th:text="#{main-page-button-caption}">Main page</a>
    </div>
</body>
</html>
