<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{delete-bag-from-cart-page-title}">Delete bag from cart</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" type="text/css">
    <script th:src="@{/js/scripts.js}" type="text/javascript"></script>
</head>

<body onload="getBags()">
<form id="delete-bag-from-cart-form" action="deleteBagFromCart.html" th:action="@{/api/v1/cart/__${cartId}__/bag/}" th:method="delete">
    <h3 th:text="#{delete-bag-from-cart-form-header}">Delete bag from cart:</h3>
    <p/>
    <div class="row">
        <label for="cart-id-input" th:text="#{cart-field-id} + ':'">Cart ID:</label>
        <input id="cart-id-input" type="text" readonly="readonly" name="id" th:value="${cartId}" value="1"/>
    </div>

    <p/>
    <div class="row">
        <label for="bag-select" th:text="#{bag-field-typeOfWaste} + ':'">Bag:</label>
        <select id="bag-select" name="bag"></select>
    </div>
    <p/>
    <div class="row">
        <button type="button" onclick="deleteBagFromCart()" th:text="#{delete-button-caption}">Delete</button>
        <a href="singleCart.html" th:href="@{/user/{userId}/cart/{cartId}(userId=${userId}, cartId=${cartId})}">
            <button type="button" th:text="#{cancel-button-caption}">Cancel</button>
        </a>
    </div>
</form>
</body>
</html>
